<% include ./partials/header %>

<div class="container">
    
    <div class="jumbotron jumbotron-fluid text-center text-white mb-3">
        <h3 class="text-uppercase">Spot térkép</h3>
        <a class="btn btn-outline-secondary caption-on-jumbo" href="/new">Spot hozzáadása</a>
    </div>
    
    <div id="map" class="mb-3"></div>
    
    <h4 class="border-bottom py-1 text-uppercase mb-3">Spotok</h4>

    <div class="row">
    
        <% spots.forEach( function(spot){ %>
                
                <div class="col-md-6 mb-3">
                    <div class="card h-100 spot-card">
                        <div class="card-img-top">
                            <img src="<%= spot.image %>">
                        </div>    
                        <div class="card-body">
                            <h5 class="card-title"><%= spot.title %></h5>
                            <p class="card-text text-info"><i class="fas fa-map-marker-alt"></i> <%= spot.location.address %></p>
                            <a class="btn btn-outline-info" href="/<%= spot._id %>">Spot információk</a>
                        </div>
                    </div>
                </div>
            
        <% }); %>
    
    </div>

</div>

<!-- MARKER MODAL -->
    
    <div class="modal fade" id="spot-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Spot adatai</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img class="card-img-top" id="spot-modal-image">
                    <div class="card-body mt-3">
                        <h4 class="text-uppercase" id="spot-modal-title"></h4>
                        <p class="card-text text-info"><i class="fas fa-map-marker-alt"></i><span id="spot-modal-location-address"></span></p>
                        <a class="btn btn-outline-info" id="spot-modal-href" href="">Tovább a spotra...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- GOOGLE MAPS -->
<script type="text/javascript">
    
    var spots = <%- JSON.stringify(spots) %>;

    function initMap() {
      // The location of Uluru
      var hungary = {lat: 47.162494, lng: 19.503304};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {
                zoom: 7,
                center: hungary,
                mapTypeControl: false,
                streetViewControl: false,
                fullscreenControl: false
          });
      
        for (i = 0; i < spots.length; i++) {  
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(spots[i].location.lat, spots[i].location.lng),
                map: map,
                icon: "bts-marker.png"
            });
            
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    $('#spot-modal-image').attr("src", spots[i].image);
                    $('#spot-modal-title').html(spots[i].title);
                    $('#spot-modal-location-address').html(" " + spots[i].location.address);
                    $('#spot-modal-href').attr("href", "/" + spots[i]._id);
                    $('#spot-modal').modal('show');
                }
            })(marker, i));
        }    
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYDUgmIB7ZbjZ7Tls5qry_Z4kbKKbEF9k&callback=initMap" type="text/javascript"></script>

<% include ./partials/footer %>