<% include ./partials/header %>

<div class="container">
    
    <!-- JUMBOTRON COMPONENT -->
    
    <div class="jumbotron jumbotron-fluid text-center text-white mb-3">
        <div class="container">
            <h4 class="text-uppercase mb-1"><%= spot.title %></h4>
            <p class="text-info mb-0"><i class="fas fa-map-marker-alt"></i>&nbsp;<%= spot.location.address %></p>
        </div>
    </div>
        
   
    <div class="row">
        
        <div class="col-md-8 mb-3">
            <img class="img-fluid" src="<%= spot.image %>">
        </div>
        
        <div class="col-md-4 mb-3">
            <h6 class="border-bottom py-1 text-uppercase">Információ <span class="badge float-right text-lowercase s-type text-white"><%= spot.type %></span></h6>
            <p><%= spot.description %></p>
            <p class="caption nice-text"><em>Létrehozta <%= spot.author.username %></em></p>
            <% if(currentUser && spot.author.id.equals(currentUser._id)){ %>
                <form action="/<%= spot._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">Spot törlése</button>
                 </form>
            <% } %>     
        </div> 
    
        <div class="col-md-12 mb-3">
            <h6 class="border-bottom py-1 text-uppercase">Térkép</h6>
            <div class="spot-map-container">
                <div id="spot-map"></div>
            </div>
        </div>
        
    </div>
    
</div>

<script type="text/javascript">
    
    var spot = <%- JSON.stringify(spot) %>;

    function initMap() {

        var spotLocation = {lat: Number(spot.location.lat), lng: Number(spot.location.lng)};

        var map = new google.maps.Map(
            document.getElementById('spot-map'), {
                zoom: 14,
                center: spotLocation,
                mapTypeControl: false,
                streetViewControl: false,
                fullscreenControl: false
            });
      
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(spot.location.lat, spot.location.lng),
                map: map,
                icon: "bts-marker.png"
            });    
            
    }
    
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYDUgmIB7ZbjZ7Tls5qry_Z4kbKKbEF9k&callback=initMap" type="text/javascript"></script>

<% include ./partials/footer %>